* {
    margin:0;
    padding:0;
}

header {
    width: 100%;
    padding: 15px 0;
    margin: 0 auto;
    text-align: center;
    display: flex;
}

header .headline{
    font-size: 32px;
    margin-left: auto;
}

.nav-list {
    text-align: center;
    padding: 10px 0;
    margin: 0 auto;
}

.nav-list-item {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.profile {
    text-align: center;
    margin-top:50px;
}

.icon {
    width: 250px;
    height: 250px;
}

.profile-detail {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

ul.profile-align {
    text-align: left;
    display: inline-block;
}

.profile-items {
    margin: 10px auto;
    font-weight: 700;
    font-size: 20px;
    list-style: none;
}

a.img-style {
    color: inherit; /* リンクの色を親要素と同じ色に設定 */
    text-decoration: none; /* リンクの下線を削除 */
}
